
@{
    ViewBag.Title = "BaoMat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container my-5">
    <div class="card shadow-lg p-4 rounded-3">
        
        <h5>Chính sách bảo mật thông tin</h5>

        <p2>
            <b>TTGShop.vn</b> cam kết bảo mật tuyệt đối thông tin cá nhân của khách hàng,
            tuân thủ theo các quy định của pháp luật về bảo mật thông tin.
        </p2>

        <h5> 1. Mục đích thu thập thông tin cá nhân</h5>
        <ul>
            Ttgshop.vn sử dụng thông tin thu thập từ khách vãng lai và khách đã đăng ký là thành viên trên hệ thống website Ttgshop.vn để phát triển website ngày càng phong phú hơn, phù hợp với nhu cầu mua sắm của quý khách hơn. Chúng tôi thu thập các loại thông tin sau:

            - Thông tin cá nhân được thu thập khi quý khách đăng ký một tài khoản tại hệ thống website Ttgshop.vn, đặt hàng trên website, tham gia những cuộc thi do chúng tôi tổ chức thông qua hệ thống website Ttgshop.vn... hoặc khi quý khách giao tiếp với bất kỳ bộ phận nào của chúng tôi như dịch vụ chăm sóc khách hàng, tư vấn, bán hàng hoặc dịch vụ kỹ thuật thông qua trang web, điện thoại, email, thư tín hoặc fax. Trong một số trường hợp, chúng tôi có thể có được tên và địa chỉ email của người khác mà quý khách chọn để chia sẻ thông tin như “một người bạn” trên hệ thống website Ttgshop.vn.

            - Cookies: Thông qua việc sử dụng Cookies, chúng tôi thu thập và phân tích địa chỉ IP được sử dụng để nối kết máy tính của quý khách với internet, máy tính và thông tin kết nối như trình duyệt và phiên bản trình duyệt, hệ điều hành, lịch sử mua hàng, xác nhận khi quý khách mở email mà chúng tôi gửi cho quý khách, ngày giờ và các URL đưa đến với website chúng tôi. Cookie không thể truy cập hoặc phân lượng dữ liệu trong ổ cứng máy tính của quý khách. Thông thường quý khách có thể thiết lập trình duyệt để vô hiệu hóa cookie hay thông báo cho quý khách biết khi được gửi cookie.Hiện nay trên thị trường cũng có sẵn các phần mềm cho phép quý khách truy cập vào trang web mà không cần cung cấp thông tin này. Quý khách vẫn được chào đón để viếng thăm hệ thống website Ttgshop.vn khi quý khách sử dụng phần mềm như vậy, nhưng chúng tôi sẽ không thể cung cấp cho quý khách dịch vụ phù hợp với quý khách và chúng tôi cũng có quyền từ chối đơn đặt hàng trực tuyến từ quý khách khi có nghi ngờ vi phạm bảo mật của chúng tôi.
        </ul>

        <h5>2. Phạm vi sử dụng thông tin</h5>
        <ul>
            Chúng tôi sử dụng các thông tin thu thập được từ việc truy cập Website của chúng tôi nhằm mục đích giúp quý khách nâng cao kinh nghiệm mua sắm trực tuyến tại hệ thống website TTGShop.vn, cung cấp các dịch vụ và thông tin quý khách ưa thích. Chúng tôi cũng sử dụng những thông tin này để giúp phát triển và cải thiện website của chúng tôi trở nên hữu ích và hấp dẫn khách hàng hơn.

            - Sử dụng cho chương trình khuyến mại, xử lý đặt hàng và các thỏa thuận giao dịch khác với khách hàng.
        </ul>

        <h5>3. Thời gian lưu trữ thông tin</h5>
        <ul>
            Thông tin cá nhân thu thập được lưu trữ đến trang web này ngừng hoạt động hoặc có yêu cầu hủy bỏ từ quý khách hàng.


        </ul>

        <h5>4. Những người hoặc tổ chức có thể tiếp cận</h5>
        <ul>
            Chúng tôi sẽ không thuê, bán hoặc tiết lộ Thông tin cá nhân của quý khách cho bên thứ ba không liên quan mà không có sự đồng ý của quý khách, trừ những điều được nêu trong Thông báo bảo mật cá nhân này.

            - Các nhà cung cấp dịch vụ: Chúng tôi có thể thuê các công ty hoặc cá nhân khác cung cấp một số dịch vụ hoặc thay mặt cho chúng tôi trong việc phân tích danh sách và dữ liệu khách hàng, hoặc thực hiện tiếp thị hay thực hiện dịch vụ tư vấn. Các đối tác này ("Nhà cung cấp dịch vụ") sẽ chỉ được tiếp cận với các thông tin cá nhân cần thiết để đại diện chúng tôi thực hiện các chức năng này, và được yêu cầu bảo vệ và bảo mật thông tin của khách hàng như chính chúng tôi. Các đối tác cung cấp dịch vụ đều bị cấm sử dụng thông tin cá nhân của quý khách cho bất kỳ mục đích nào khác.

            - Các công ty thẻ tín dụng: Nếu quý khách đặt hàng trên hệ thống website Ttgshop.vn, những thông tin cá nhân mà quý khách cung cấp cho chúng tôi được chuyển đến ngân hàng phát hành thẻ tín dụng của quý khách để thực hiện kiểm tra và xác nhận quyền sử dụng thẻ tín dụng trong thanh toán mua hàng của quý khách. Các thông tin này được hoàn toàn bảo mật và mã hóa để đảm bảo tính an toàn cao nhất khi thanh toán. - Đối tác tiếp thị: Chúng tôi có thể chia sẻ tên, địa chỉ nhận thư của quý khách với một vài đối tác tiếp thị được chọn lọc kỹ, những đối tác mà chúng tôi tin là sản phẩm hay dịch vụ của họ có thể hữu ích với quý khách. Chúng tôi không bao giờ chia sẻ số điện thoại, địa chỉ email hoặc thông tin thẻ tín dụng mà quý khách đã cung cấp cho chúng tôi với bất kỳ một đối tác tiếp thị nào.
        </ul>

        <h5>5. Địa chỉ của đơn vị thu thập và quản lý thông tin</h5>
        <p2>
            Công ty Cổ phần Mocato Việt Nam<br />
            
            Địa chỉ: Trần Đại Nghĩa, Hai Bà Trưng, Hà Nội
            <br />
            Email: ttgshoponline@gmail.com
            <br />
            Hotline: 0123 456 789
        </p2>

        <h5>6. Quyền của khách hàng</h5>
        <p2>
            Kiểm tra, cập nhật, chỉnh sửa thông tin cá nhân của mình.
            
            Yêu cầu hủy bỏ hoặc ngừng sử dụng thông tin.
           
            Gửi khiếu nại về việc lạm dụng thông tin đến ban quản trị.
        </p2>
    </div>
</main> 

