
@{
    ViewBag.Title = "ChinhSachDoiTra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container my-5">
    <div class="card shadow-lg p-4 rounded-3">
        <h2 class="mb-4">Chính sách đổi trả</h2>

        <p2>Ttgshop.vn chỉ tiến hành đổi trả đối với sản phẩm bị lỗi, trục trặc của nhà sản xuất.</p2>

        <h5>+ Điều kiện đổi trả:</h5>
        <ul>
            <li>Sản phẩm bị trục trặc, lỗi do nhà sản xuất.</li>
            <li>Sản phẩm còn nguyên vẹn, không bị nứt vỡ, không bị biến dạng do tác động của ngoại lực.</li>
            <li>Sản phẩm không có dấu hiệu bị ẩm, vô nước dẫn đến gây chạm mạch.</li>
            <li>Sản phẩm phải còn nguyên vẹn thông tin S/N và tem của nhà phân phối còn nguyên vẹn với đầy đủ thông tin thời gian bảo hành.</li>
            <li>Sản phẩm phải còn trong thời gian bảo hành.</li>
        </ul>


        <b>
            Vì sản phẩm được đổi mới nguyên hộp nên sản phẩm đổi trả cũng phải được gửi lại với tình trạng nguyên hộp
            với đầy đủ phụ kiện, sản phẩm ban đầu.
            Nếu chỉ mang đến sản phẩm bị lỗi (pin, sạc...), không có phụ kiện & hộp thì chỉ được đổi mới 1 sản phẩm
            tương đương sản phẩm bị lỗi (không gồm hộp, phụ kiện đi kèm)
            sau khi kiểm tra đúng lỗi được bảo hành.
        </b>


        <h5>+ Thời hạn đổi trả:</h5>
        <p2>Sản phẩm còn trong thời gian bảo hành của nhà sản xuất.</p2>

        <h5>+ Phương thức đổi trả:</h5>

        Sẽ đổi hàng ngay lập tức ngay khi đại lý hoặc người tiêu dùng gửi hàng và kỹ thuật <b>kiểm tra đúng là lỗi nhà sản xuất</b>.
        Nếu trường hợp mặt hàng này trong kho không có sẵn thì thời gian chờ hàng về để đổi là tối đa 2-3 tuần
        (sẽ cố gắng giảm thiểu thời gian bảo hành trong trường hợp không còn hàng có sẵn để đổi, ngay cả Apple US cũng áp dụng chính sách này khi họ không còn hàng có sẵn).

    </div>


</main>


