
@{
    ViewBag.Title = "DieuKhoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container my-5">
    <div class="card shadow-lg p-4 rounded-3">
        <h2 class="mb-4 fw-bold text-center">Điều khoản & Điều kiện</h2>

        <p2>
            Website <a href="https://ttgshop.vn" target="_blank">ttgshop.vn</a> được quản lý bởi <b>Công ty Cổ phần Mocato Việt Nam</b>.
            Khi truy cập và mua sắm tại website, bạn mặc định đồng ý với các điều khoản dưới đây.
        </p2>


        <h5>1. Quy định chung</h5>
        <ul>
            <li>Nghiêm cấm sử dụng website cho mục đích thương mại trái phép hoặc mạo danh đối tác khác.</li>
            <li>Mọi vi phạm sẽ bị hủy quyền truy cập mà không cần báo trước.</li>
            <li>Thông tin thu thập từ khách hàng được dùng để: hỗ trợ mua sắm, nâng cấp trải nghiệm website, cải tiến dịch vụ.</li>
        </ul>

        <h5>2. Quyền và nghĩa vụ của khách hàng</h5>
        <ul>
            <li>Không được sử dụng bất kỳ chương trình, công cụ nào để can thiệp vào hệ thống hoặc thay đổi dữ liệu.</li>
            <li>Không phát tán virus, phần mềm độc hại, hay bất kỳ hoạt động nào gây hại đến hệ thống.</li>
            <li>Chịu trách nhiệm về tính chính xác của thông tin cung cấp khi đặt hàng.</li>
        </ul>

        <h5>3. Quyền của TTGShop.vn</h5>
        <ul>
            <li>Có quyền từ chối hoặc hủy đơn hàng trong bất kỳ trường hợp nào mà không cần giải thích.</li>
            <li>Có thể yêu cầu khách hàng cung cấp thêm thông tin xác nhận (số điện thoại, địa chỉ, email).</li>
            <li>Không chịu trách nhiệm về những thiệt hại phát sinh nếu khách hàng không tuân thủ quy định.</li>
        </ul>

        <h5>4. Chính sách bảo mật</h5>
        <p2>
            TTGShop.vn cam kết bảo mật tuyệt đối các thông tin cá nhân của khách hàng,
            không chia sẻ cho bên thứ ba ngoại trừ trường hợp có yêu cầu của cơ quan pháp luật.
        </p2>
    </div>
</main>

