
@{
    ViewBag.Title = "TuVanPC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container my-4">
    <h2>Tự build Cấu hình</h2>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdWkw0MpUh5l5u3qIrJrGA97iLASu29uWX3rHxunZB5TjznvQ/viewform?usp=header"
            width="1200"
            height="800"
            frameborder="0"
            marginheight="0"
            marginwidth="0">
        Đang tải…
    </iframe>
</div>