
@{
    ViewBag.Title = "VanChuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container my-5">
    <div class="card shadow-lg p-4 rounded-3">
        <h2 class="mb-4 text-center fw-bold">Chính sách vận chuyển và kiểm hàng</h2>

        <p2>
            Chính sách vận chuyển và giao nhận tại <b>TTGShop.vn</b> là một phần của quy chế hoạt động thương mại điện tử
            của công ty Cổ Phần Mocato Việt Nam, tuân thủ Nghị định 52/2013/NĐ-CP của Chính phủ nước Cộng Hòa Xã Hội Chủ Nghĩa Việt Nam
            và các quy định của pháp luật có liên quan.
        </p2>

        <h3 class="mt-4 fw-semibold">Chính sách vận chuyển</h3>

        <h5 class="mt-3">1. Quy trình giao vận, chuyển hàng</h5>
        <p2>
            Tất cả các đơn hàng được đặt hàng trên website <b>TTGShop.vn</b> sẽ được xử lý trong vòng 24 giờ kể từ khi bạn đăng ký.
            Bạn sẽ nhận được cuộc gọi của Tổng đài viên để xác nhận đơn hàng và tư vấn thêm về sản phẩm.
            Sau khi nhận đơn hàng từ người mua và xác nhận thông tin mua hàng qua điện thoại, chúng tôi sẽ tiến hành giao hàng
            theo yêu cầu của quý khách hàng. Chúng tôi thực hiện dịch vụ giao hàng đến tận tay khách hàng qua công ty vận chuyển.
        </p2>

        <h5 class="mt-3">2. Phạm vi áp dụng</h5>
        <p2>
            Chúng tôi thực hiện giao hàng trên 63 tỉnh thành trong cả nước.
            Bất kỳ lúc nào khách hàng cũng có thể tra cứu, kiểm tra lộ trình hay tình trạng của những đơn hàng đã đặt mua qua các công ty
            đối tác vận chuyển.
        </p2>

        <h3 class="mt-4 fw-semibold">Quy định kiểm hàng</h3>

        <h5 class="mt-3">1. Giao nhận và kiểm hàng</h5>
        <p2>
            Khách hàng sẽ nhận được hàng chậm nhất là bảy (07) ngày sau khi hoàn tất đơn hàng của mình.
            Thời gian luân chuyển và giao hàng nhanh hay chậm tùy theo đơn vị cung cấp dịch vụ đặt hàng.
            Khách hàng sẽ nhận và kiểm tra hàng hóa trước khi thanh toán.
            Các khiếu nại về sản phẩm, chúng tôi sẽ được giải quyết theo <b>quy định bảo hành và chính sách đổi trả, hoàn tiền</b>.
        </p2>

        <h5 class="mt-3">2. Trách nhiệm với hàng hóa vận chuyển</h5>
        <p2>
            Việc cung cấp chứng từ hàng hóa sẽ do công ty chúng tôi cung cấp.
            Chúng tôi sẽ chịu trách nhiệm với hàng hóa và các rủi ro mất mát hoặc hư hại có thể xảy ra trong suốt quá trình vận chuyển
            hàng từ kho hàng cho đến khi giao đến quý khách.
            Quý khách có trách nhiệm kiểm tra kỹ hàng hóa khi nhận hàng. Khi phát hiện hàng hóa bị móp méo, hư hại,
            quý khách cần lập biên bản ngay với nhân viên giao hàng hoặc thông báo ngay cho chúng tôi qua số điện thoại hỗ trợ.
            Sau khi xác minh, chúng tôi sẽ đổi hàng mới hoặc hoàn tiền theo đúng quy định.
        </p2>
    </div>
</main>

